.form {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  color: green;
}
body {
  background-color: black;
}

#text {
  color: green;
}

#home {
  font-size: 24px;
  color: green;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-align: center;
  color: green;
}

.myButton {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 30px;
  padding: 30px;
  border-radius: 50px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}
.myButton:hover {
  background: #1c6ea4;
}
.myButton:active {
  background: #144e75;
}
.myButton {
  margin-right: auto;
  margin-left: auto;
}
